<h3><%= edit_header(question)%></h3>
<%= form_with model: [test, question], local: true do |form| %>
<% if question.errors.present? %>
Ошибки: <div><%= question.errors.full_messages %></div>
<% end %>
<div>
<%= form.label :body, 'Вопрос' %>
<%= form.text_field :body, size: 100 %>
</div>
<%= form.fields_for :answers do |answer_form|%>
  <div>
  <%= answer_form.hidden_field :id%>
  <%= answer_form.label :text, 'Ответ' %>
  <%= answer_form.text_field :text, size: 50 %>
  <%= answer_form.label :correct, 'Правильный' %>
  <%= answer_form.check_box :correct %>
  </div>
<% end %>
<%= form.submit %>
<% end %>
<%= link_to 'К тесту', question.test%>