<p id="notice"><%= notice %></p> 
<h2>Тест <%= @question.test%></h2>
<div><label>Текст вопроса </label><%= @question.body%></div>

<h3>Ответы</h3>
<% @question.answers.select(:text, :correct).each do |answer| %>
  <div><% if(answer.correct) %>
  <b><%= answer.text%></b>
  <% else %>
  <%= answer.text%>
  <% end %>
  </div>
<% end %>
<hr/>
<div>
<%= link_to 'Редактировать', edit_question_path(@question)%>
</div>
<div>
<%= link_to 'Удалить', question_path(@question), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<%= link_to 'К вопросу', @question.test%>
