<%= form_with model: @user, local: true do |form| %>
  <% if @user.errors.present? %>
    Ошибки: <div><%= @user.errors.full_messages %></div>
  <% end %>
  <div>
    <%= form.label :name, 'Имя' %><br/>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :email, 'Email' %><br/>
    <%= form.text_field :email %>
  </div>
  <div>
    <%= form.label :password, 'Пароль' %><br/>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.label :password_confirmation, 'Подтверждение пароля' %><br/>
    <%= form.password_field :password_confirmation %>
  </div>

  <%= form.submit %>
<% end %>