<h3>Тест <%= @result.test.title %> завершен</h3>
<% class_name = @result.passed? ? "passed" : "failed" %>
Правильных ответов  <span class="<%= class_name %>"><%= @result.correct_answers %> из <%= @result.answers %></span>

<div class="<%= class_name %>">
<% if @result.passed? %>
Тест пройден
<% else %>
Тест не пройден
<% end %>
</div>
<br/>

<div><%= link_to 'К результатам', test_results_path(@result.test) %></div>
<div><%= link_to 'К тестам', tests_path %></div>