<h3><%= t('.test_completed', test: @result.test.title) %></h3>
<div class="<%= @result.passed? ? "passed" : "failed" %>">
<%= t('.correct_answers', count: @result.correct_answers, total: @result.answers) %><br/>
<%= @result.passed? ? t('.passed') : t('.failed') %>
</div>
<br/>

<div><%= link_to Result.model_name.human(count: 0), test_results_path(@result.test) %></div>
<div><%= link_to t('nav.tests'), tests_path %></div>