<p id="notice"><%= notice %></p> 
<h2>
  <%= Test.model_name.human %>
  <%= @question.test %>
</h2>
<div><label><%= t('.question_text') %> </label><%= @question.body%></div>

<h3><%= Answer.model_name.human(count: 0) %></h3>
<% @question.answers.select(:text, :correct).each do |answer| %>
  <div><% if(answer.correct) %>
  <b><%= answer.text%></b>
  <% else %>
  <%= answer.text%>
  <% end %>
  </div>
<% end %>
<hr/>
<div>
<%= link_to t('edit'), edit_admin_question_path(@question)%>
</div>
<div>
<%= link_to t('delete'), admin_question_path(@question), method: :delete, data: { confirm: t('confirm_deletion') } %>
</div>

<%= link_to t('nav.question'), [:admin, @question.test]%>
