<h3><%= test_edit_header(test)%></h3>
<%= form_with model: [:admin, test], local: true do |form| %>
<% show_errors(test) %>
<div>
<%= form.label :title %>
<%= form.text_field :title, size: 100 %>
</div>
<div>
<%= form.label :category_id %>
<%= form.select :category_id, Category.all.collect { |p| [p.title, p.id] }, include_blank: true %>
</div>
<div>
<%= form.label :level %>
<%= form.text_field :level, type: "number" %>
</div>

<%= form.submit %>
<% end %>
<%= link_to t('nav.tests'), admin_tests_path%>