<div class="row ml-3  mt-5">
  <div class="col col-md-8">
    <h3><%= test_edit_header(test)%></h3>
    <%= form_with model: [:admin, test], local: true do |form| %>
    <%= show_errors(test) %>
    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, size: 100, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :category_id %>
      <%= form.select :category_id, Category.all.collect { |p| [p.title, p.id] }, {include_blank: true}, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :level %>
      <%= form.text_field :level, type: "number", class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :time_limit %>
      <%= form.text_field :time_limit, type: "number", class: 'form-control' %>
    </div>

    <%= form.submit(class: 'btn btn-primary') %>
    <% end %>
    <%= link_to t('nav.tests'), admin_tests_path%>
  </div>
</div>