<h3><%= @test.title%></h3>
<div><label><%= Test.human_attribute_name(:level) %>:</label> <%= @test.level%></div>
<div><label><%= Test.human_attribute_name(:category) %>:</label> <%= @test.category%></div>
<div><label><%= Test.human_attribute_name(:author) %>:</label> <%= @test.author%></div>

<br/>
<table>
  <tr>
    <th><%= Question.model_name.human(count: 0) %></th>
    <th colspan="2"><%= t('actions') %></th>
  </tr>
  <%= render @test.questions%>
</table>
<%= link_to t('.create_question'), new_admin_test_question_path(@test) %>

<div><%= link_to t('.all_tests'), admin_tests_path%></div>

