<h3><%= @test.title%></h3>
<div><label>Уровень:</label> <%= @test.level%></div>
<div><label>Категория:</label> <%= @test.category%></div>
<div><label>Автор:</label> <%= @test.author%></div>
<div><%= link_to 'Вопросы', test_questions_path(test_id: @test.id)%></div>
