<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <h1 class="home"> <%= link_to 'TestGuru', root_path %></h1>
    <h1 class="user">
    <% if logged_in? %>
      Welcome, <%= current_user.name %> Guru 
      <%= link_to 'Выход', login_path, method: :delete %>
    <% else %>
      <%= link_to 'Вход', login_path %>
      <%= link_to 'Регистрация', signup_path %>
    <% end %>
    </h1>
  <header>
    <%= yield %>
  <footer>
    <hr/>
    <%= current_year%>  <%= authors%><br/>
    Проект <%= github_url 'lisenenkov-sl24', 'TestGuru'%><br/>
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/', target: "_blank" %>
  </footer>
  </body>
</html>
