<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <h1 class="home"> <%= link_to 'TestGuru', root_path %></h1>
    <h1 class="user">
    <% if user_signed_in? %>
      <%= login_info('user') %>
      <%= link_to t('devise.shared.links.sign_out'), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to t('devise.shared.links.sign_in'), user_session_path %>
      <%= link_to t('devise.shared.links.sign_up'), new_user_registration_path %>
    <% end %>
    </h1>
  <header>
  <% show_messages %>
  <%= yield %>
  <footer>
    <hr/>
    <%= current_year%>  <%= authors%><br/>
    Проект <%= github_url 'lisenenkov-sl24', 'TestGuru'%><br/>
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/', target: "_blank" %>
    <% I18n.available_locales.each do |lang| %>
      <% if lang == I18n.locale %>
        <div><b><%= t(lang) %></b></div>
      <% else %>
        <div><%= link_to t(lang), { locale: lang } %></div>
      <% end %>
    <% end %>
  </footer>
  </body>
</html>
